{% extends "chat/minimal.html" %}

{% block body %}

<div id="head">
	<div class="col-sm">
		<span class="button">FOLLOW ME</span>
		<span class="icon-rss {% if config.envoiSMS and config.receptionSMS %}online{% else %}offline{% endif %}"></span>
		<a href="/dashboard" class="button{% if page == "dashboard" %} primary{% endif %}">TABLEAU DE BORD</a>
		<a href="/conversation" class="button{% if page == "conversation" %} primary{% endif %}">CONVERSATION</a>
		<a href="/groupes" class="button{% if page == "groupes" %} primary{% endif %}">GROUPES</a>
	</div>
	<div class="col-2">
		{{ request.session.spectacle }} - {{ request.session.texteur }}
		<a href="/logout" class="button secondary">QUITTER</a>
	</div>
</div>

	{% include "chat/include/card_message.html" %}

<div  id="main">
{% block main %}

{% endblock %}
</div>

{% endblock %}

