{% extends "chat/base.html" %}
{% load static %}

{% block main %}

	<div id="conv_menu" >
		<!-- MENU DES CONVERSATIONS -->

		<div id="conv_menu_list" class="input-group vertical">

			<div id="list_prio"></div>
			<div id="list_ras"></div>

		</div>

	</div>

	<div id="conversation">


	</div>

	{% include "chat/include/modal_swap.html" %}
	{% include "chat/include/modal_premsg.html" %}
	{% include "chat/include/modal_confirm_eject.html" %}

{% endblock %}

{% block end_html %}
	<template id="template-sms">
		<div class="sms">
			<div class="sms-txt"></div>
			<br/>
			<div class="sms-info">
			</div>
		</div>
	</template>

	<template id="template-contact">
		<div class="conv_contact row" tabindex="1">
				<span class="conv_contact_name"></span>
				<span class="messages_n"></span>
		</div>
	</template>

	<template id="template-conversation">
			<div id="contact_line">
				<div id="contact_name">
					<span class="prenom"></span>
					<span class="nom"></span>

					<img class="genre" />
					<span class="tel"></span>
				</div>
				<div>
					<a class="button eject secondary">ÉJECTER</a>
					<a class="button swap">ÉCHANGER</a>
				</div>
			</div>

			<div id="conv_messages">
				<div id="conv_messages_container">
					<div id="conv_messages_wrapper">

					</div>
				</div>
			</div>

			<div class="row" id="conv_writer">
				<div class="col-sm writer">
{#					<textarea id="conv-message-writer"></textarea>#}
					{% include "chat/include/sms_textarea.html" with id_sms_textarea="conv-message-writer" %}
{#					<div id="conv-message-writer-counter" class="charcounter">#}
{#	<div class="char-counter-background">140</div>#}
{#</div>#}
{#<textarea id="conv-message-writer" class="sms-textarea"></textarea>#}
				</div>
				<div class="col-sm-3 envoyer">
					<a id="conv-message-sender" class="button primary large">ENVOYER</a>
					<a class="button small" onclick="openPremsgModal();">MSG <br/> PRÉ-ENREGISTRÉS</a>
				</div>
			</div>
	</template>

	<script type="application/javascript">
		let regex_gsm = {% if gsm_unauthorized %}/[{{ gsm_unauthorized }}]/{% else %}/ç/{% endif %};
		let timer_minutes = {{ config.delaisFroid }};
		let time_limit = new Date();
		time_limit.setMinutes(time_limit.getMinutes() - timer_minutes);
		let contact_id = {% if contact_id %}{{contact_id}}{% else %}null{% endif %};
		{#let contact_genre = {% if contact_genre %}{{contact_genre}}{% else %}null{% endif %};#}
		let texteur = "{{ request.session.texteur|escapejs }}";
		let texteur_id = "{{ request.session.texteur_id }}";
		let texteur_list = JSON.parse("{{ texteur_list|escapejs }}");
		let model_list = JSON.parse("{{ model_list|escapejs }}");
		const contact_list_box = document.getElementById("conv_menu_list");
		const contact_list_prio = document.getElementById("list_prio");
		const contact_list_ras = document.getElementById("list_ras");
	</script>

	<script type="text/javascript"
	        src="{% static 'js/conversation.js' %}"></script>

	<script type="application/javascript">
		setInterval(timerContactListOrder, 1000*60);
	</script>

{% endblock %}

