{% extends "chat/base.html" %}

{% block main %}

	<div id="dashboard">
		<h1> {{ request.session.texteur }}</h1>

{#		<div class="row">#}
{#		<div class="col-sm">Spectacle en cours</div>#}
{#		<div class="col-sm align-right">{{ request.session.spectacle }}</div>#}
{#		</div>#}

{#		<h3>Spectacle en cours : <br/><strong>{{ request.session.spectacle }}</strong></h3>#}

		<table class="striped">
		  <caption>Vos contacts ({{ contacts | length }})</caption>
		  <thead>
		    <tr>
		      <th>Prénom NOM</th>
		      <th>Genre</th>
		      <th>Téléphone</th>
		      <th>Nouveaux messages</th>
		      <th>Action</th>
		    </tr>
		  </thead>
		  <tbody>
		    {%  for contact in contacts %}
			    <tr>
			      <td data-label="Nom">{{ contact.prenom }} {{ contact.nom | upper }}</td>
			      <td data-label="Genre">
				      <img class="genre_{{ contact.genre }}"
				           style="height: 2.5ex;"
				           src="/static/img/genre_{{ contact.genre }}.png" />
			      </td>
			      <td data-label="Téléphone">{{ contact.numero }}</td>
			      <td data-label="Nouveaux messages">
				      {% if contact.newmessages %}{{ contact.newmessages }}
				      {% else %}0{% endif %}
			      </td>
			      <td data-label="Action">
				      <a href="/conversation?contact={{ contact.id }}"><span class="icon-mail"></span></a>
				      <span class="icon-share clickable"
				            onclick='openSwapModal("{{ contact.prenom }} {{ contact.nom }}", {{ contact.id }}, "dashboard");'></span>
				      <a target="_blank" href="/export?contact={{ contact.id }}"><span class="icon-cart clickable"></span></a>
			      </td>
			    </tr>
		    {% endfor %}
		  </tbody>
		</table>


	</div>

	{% include "chat/include/modal_swap.html" %}

{% endblock %}

{% block end_html %}
	<script type="application/javascript">
		let texteur_id = "{{ request.session.texteur_id }}";
		let texteur_list = JSON.parse("{{ texteur_list|escapejs }}");
	</script>
{% endblock %}

