<!doctype html>
{% load static %}
<html lang="fr">

<head>
	<meta charset="utf-8">
	<title>Conversation avec {{ contact.prenom }} {{ contact.nom }}
		— {{ config.spectacle.nom }}</title>

	{#	<link rel="stylesheet" type="text/css" href="{% static 'css/impression.css' %}">#}

	<style>
		html, body {
			/*display: block !important;*/
			/*flex-direction: column;*/
			-webkit-print-color-adjust: exact;
			color-adjust: exact;
			overflow-y: fragments !important;
		}

		body > * {
			/*flex-shrink: 0;*/
			/*overflow-y: visible;*/
		}

		#export-conv {
			/*background-color: red !important;*/
			max-width: 700px;
		}

		#export-conv .sms-txt {
			font-weight: bold !important;
		}

		@page {
			margin: 1cm 1cm;
		}

		#export-conv {
			width: 80vw;
			margin-left: auto;
			margin-right: auto;
		}

		#export-conv .contact_header {
			padding: 15px;
			box-sizing: border-box;
			/*border: 1px solid black;*/
			text-align: center;
			margin: 15px auto;
			margin-top: 0px;
		}

		#export-conv #conv_messages .sender .sms-txt {
			background-color: #fff;
			color: #000;
		}

		/*@media print {*/
		/*.sms {page-break-after: always;}*/
		/*}*/

		/*.sms{*/
		/*page-break-after: always !important;*/
		/*}*/

		#export-conv {
			page-break-inside: auto !important;
		}

		#export-conv #conv_messages {
			page-break-inside: auto !important;
		}

		#export-conv #conv_messages #conv_messages_container {
			page-break-inside: auto !important;
		}

		#export-conv #conv_messages #conv_messages_container #conv_messages_wrapper {
			page-break-inside: auto !important;
		}

		#conv_messages_wrapper .sms {
			margin-top: 5px;
			padding-bottom: 10px;
			page-break-inside: avoid !important;
		}

		#conv_messages_wrapper .sms .sms-txt {
			max-width: 500px;
			word-wrap: break-word;
			border: 1px solid grey;
			border-radius: 5px;
		}

		#conv_messages .sender {
			text-align: left;
		}

		#conv_messages .sender .sms-txt {
			/*background-color: #66c845;*/
			/*background-color: #59B017;*/
			background-color: #329534;
			color: white;
		}

		#conv_messages .texteur {
			text-align: right;
		}

		#conv_messages .texteur .sms-txt {
			background-color: #fff;
		}

		#conv_messages .sms-txt {
			display: block;
			text-align: left;
		}

		#conv_messages .sms .sms-txt {
			padding: 8px 10px;
			/*margin-right: 5px;*/
			/*margin-left: 5px;*/
			display: inline-block;
			border-radius: 6px;
		}

		#conv_messages .sms .sms-info {
			/*margin-top: -5px;*/
			font-size: 70%;
			/*font-style: italic;*/
			color: rgb(120, 120, 120);
		}

		.spectacle_nom {
			font-size: 120%;
			font-weight: bold;
		}

		.spectacle_date{
			padding-top: 10px;
		}
	</style>
</head>

<body>


<div id="export-conv">
	<div class="contact_header">
		<h1>{{ contact.prenom }} {{ contact.nom }}</h1>
		<div class="spectacle_nom">{{ config.spectacle.nom }}</div>
		<div class="spectacle_date">{{ config.spectacle.datetime|date:"l j F Y" }}</div>
	</div>

	<div id="conv_messages">
		<div id="conv_messages_container">
			<div id="conv_messages_wrapper">

				{% for sms in messages %}
					<div class="sms {% if sms.emitter and sms.emitter.strip %}texteur{% else %}sender{% endif %}">
						<div class="sms-txt">{{ sms.message|escape|linebreaksbr }}</div>
						<br/>
						<div class="sms-info">
							{{ sms.datetime|date:"G:i" }}{% if sms.emitter %} -
								<span class="texteur-name">{{ sms.emitter }}</span>{% endif %}
						</div>
					</div>
				{% endfor %}

			</div>
		</div>
	</div>

</div>


</body>

</html>