{% extends "chat/base.html" %}
{% load static %}

{% block main %}

	<div id="conv_menu" >
		<!-- MENU DES CONVERSATIONS -->

		<div id="conv_menu_list" class="input-group vertical">

				<a href="/groupes" class="all_group">
					<div class="conv_contact row{% if current_groupe.id == "all" %} active{% endif %}">
						<span class="col-sm groupe_name"> — TOUT LE MONDE — </span>
					</div>
				</a>

			{% for groupe in groupes %}

				<a href="?groupe={{ groupe.id }}">
					<div class="conv_contact row{% if groupe.id == current_groupe.id %} active{% endif %}">
						<span class="col-sm groupe_name"> {{ groupe.nom | upper }}</span>
					</div>
				</a>

			{% endfor %}

		</div>

	</div>

	<div id="groupe">

		<h2>Envoyer au groupe : <mark class="tag tertiary">{{ current_groupe.nom | upper }}</mark> </h2>

		<form id="groupe-form" method="post" action="/groupes">
		{% csrf_token %}
			<div class="row">
				<label for="groupe-model">Choisir un modele :</label>
				<select id="groupe-model" name="model">
					<option value=""></option>
					{% for model in models %}
						<option value="{{ model.id }}">
							{{ model.nom }}
						</option>
					{% endfor %}
				</select>
			</div>

			<fieldset>
				<legend>Féminin</legend>
{#				<textarea id="groupe-show-Fcontent" name="Fcontent">#}
{##}
{#				</textarea>#}
				{% include "chat/include/sms_textarea.html" with id_sms_textarea="groupe-show-Fcontent" name_sms_textarea="Fcontent" %}
			</fieldset>

			<fieldset>
				<legend>Masculin</legend>
{#				<textarea id="groupe-show-Hcontent" name="Hcontent">#}
{##}
{#				</textarea>#}
				{% include "chat/include/sms_textarea.html" with id_sms_textarea="groupe-show-Hcontent" name_sms_textarea="Hcontent" %}
			</fieldset>

			<fieldset>
				<legend>Autre</legend>
{#				<textarea id="groupe-show-Hcontent" name="Hcontent">#}
{##}
{#				</textarea>#}
				{% include "chat/include/sms_textarea.html" with id_sms_textarea="groupe-show-Acontent" name_sms_textarea="Acontent" %}
			</fieldset>

			<div class="submit-row">
{#			    <input value="Envoyer" type="submit" class="primary" />#}
				<a class="button primary" onclick="showConfirm();">Envoyer</a>
			</div>

			<input type="hidden" value="{{ current_groupe.id }}" name="dest_groupe" />

		</form>

	</div>

	{% include "chat/include/modal_confirm_groupes.html" %}

{% endblock %}

{% block end_html %}
	<script type="application/javascript">
		let regex_gsm = {% if gsm_unauthorized %}/[{{ gsm_unauthorized }}]/{% else %}/ç/{% endif %};
		let model_list = JSON.parse("{{ model_list|escapejs }}");
		window.onload = function() {
			initSMSTextareaCounter(document.getElementById("groupe-show-Fcontent"));
			initSMSTextareaCounter(document.getElementById("groupe-show-Hcontent"));
			initSMSTextareaCounter(document.getElementById("groupe-show-Acontent"));
		};
	</script>

	<script type="text/javascript"
	        src="{% static 'js/groupes.js' %}"></script>
{% endblock %}

