{% extends "chat/minimal.html" %}

{% block body %}

	<div class="row fullheight">

		<div class="col-sm-1 col-md-2 col-lg-3"></div>
		<div id="login_col" class="col-sm-10 col-md-8 col-lg-6">
			<div id="login_box" >


<div id="head" class="row">
	<div class="col-sm">
		<span class="button">FOLLOW ME</span>
		<!--<a href="blog.html" class="button">CONVERSATIONS</a>-->
		<!--<a href="contact.html" class="button">PRÉFÉRENCES</a>-->
	</div>
	<div class="col-2">
		<a href="index.html" class="button">{{spectacle}}</a>
	</div>
</div>

				{%  if error  %}<div class="card error">{{ error }}</div>{% endif %}
				{%  if message %}<div class="card">{{ message }}</div>{% endif %}

				<form id="login_form" action="/" method="post">
					{% csrf_token %}
					<fieldset>
                    <legend>Se connecter en tant que</legend>
					<select name="texteur">
						{%  for texteur in texteurs %}
							<option value="{{ texteur.nom }}">{{ texteur.nom }}</option>
						{%  endfor %}
					</select>
						<input type="submit" value="Connexion" class="primary" />
					</fieldset>
				</form>
				<a href="/admin/chat" class="admin_link" >Administration</a>
				<span class="fm-version">version {{ fm_version }}</span>
			</div>
		</div>
		<div class="col-sm-1 col-md-2 col-lg-3"></div>

	</div>

{% endblock %}