<!doctype html>
{% load static %}
<html lang="fr">

<head>
	<meta charset="utf-8">
	<title>{{ title }}</title>

	<link rel="stylesheet" href="{% static 'css/mini.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/followme.css' %}">

	{% block head_css %}{% endblock %}
	{% block head_js %}{% endblock %}

</head>

<body>
{% block body %}{% endblock %}
</body>

{% block end_html %}{% endblock %}
<script type="text/javascript" src="{% static 'js/followme.js' %}" ></script>
</html>