{% extends 'admin/change_form.html' %}
{% load i18n admin_urls %}
{% load static %}

{% block extrahead %}{{ block.super }}
	<script type="application/javascript" >
	let regex_gsm = /µâêûîôÂÊÛÎÔ\u0080ç¨ëï°⋅ΜÂÊÛÎÔÂÊÛÎÔ\u0080Ç¨ËÏ°⋅/;
	function prepareTextarea(textarea){
		let div = document.createElement('div');
        div.className = 'charcounter';
        div.id = textarea.id+"-counter";
        textarea.parentNode.insertBefore(div, textarea);
        let counter = document.createElement('div');
        counter.className = 'char-counter-background';
	    div.appendChild(counter);
	    initSMSTextareaCounter(textarea);
	    textarea.dispatchEvent(new Event("change"));
	}
		window.addEventListener('load', function e(){
			prepareTextarea(document.getElementById("id_Hcontent"));
			prepareTextarea(document.getElementById("id_Fcontent"));
			prepareTextarea(document.getElementById("id_Acontent"));
		}, false); // NB **not** 'onload'
	</script>
<script type="text/javascript" src="{% static 'js/followme.js' %}"></script>
{{ media }}
{% endblock %}

{% block extrastyle %}{{ block.super }}
	<style>
	/* SMS TEXTAREA COUNTER */
.charcounter {
	height: 100%;
}

.charcounter .char-counter-background {
	float: right;
	background: transparent;
}

.charcounter .char-counter-background {
	color: silver;
	font-size: 550%;
	font-weight: bold;
	vertical-align: bottom;
	text-align: right;
	opacity: 0.5;
}
	</style>
{% endblock %}


{% block after_field_sets %}
	{{ block.super }}
	<div class="form-row field-add-to-spectacle" style="text-align: right">
		<div class="checkbox-row">
			<input id="id_add-to-spectacle" class="" type="checkbox" checked
			       name="add-to-spectacle"/>
			<label class="vCheckboxLabel" for="id_add-to-spectacle">Ajouter au
				spectacle en cours</label>
		</div>
	</div>
{% endblock %}

{#{% block submit_buttons_bottom %}#}
{#    {{ block.super }}#}
{#    <div class="submit-row">#}
{#            <input type="submit" value="Ajouter au spectacle en cours" name="_add-to-spectacle">#}
{#    </div>#}
{#{% endblock %}#}