<input type="checkbox" id="modal-confirm-control" class="modal">
<div id="modal-confirm" class="modal-box">
  <div class="card">
    <label for="modal-confirm-control" class="modal-close" ></label>
    <h3 class="section">Confirmation</h3>
    <div class="section">

	    <p>Confirmer l'éjection du contact : <strong id="modal-eject-name"></strong></p>

	    <div class="submit-row">
		    <a class="button secondary" onclick="
		    document.getElementById('modal-confirm-control').checked = false;">
			    Annuler</a>
		    <a class="primary button" id="modal-eject-confirm" >Confirmer</a>
	    </div>

    </div>
  </div>
</div>