<input type="checkbox" id="modal-swap-control" class="modal">
<div id="modal-swap" class="modal-box">
  <div class="card">
    <label for="modal-swap-control" class="modal-close" ></label>
    <h3 class="section">Échanger un contact</h3>
    <div class="section">
	    <form id="form-swap" action="/swap" method="post">
			{% csrf_token %}
{#			<fieldset>#}
{#            <legend>Se connecter en tant que</legend>#}
		    <div class="row responsive-label">
			    <div class="col-sm-12 col-md-5">
				    <label for="form-swap-contact" class="doc">Contact à échanger</label>
			    </div>
			    <div class="col-sm-12 col-md">
				    <input type="text" id="form-swap-contact" disabled style="width:85%;" class="doc">
			    </div>
		    </div>
		    <div class="row responsive-label">
			    <div class="col-sm-12 col-md-5">
				    <label for="form-swap-texteur" class="doc">Envoyer à</label>
			    </div>
			    <div class="col-sm-12 col-md">
				    <select id="form-swap-texteur" name="texteur-to-id" style="width:85%;" class="doc"></select>
			    </div>
		    </div>

		    <div class="submit-row">
					<input type="submit" value="Valider" class="primary" />
		    </div>

		    <input type="hidden" id="form-swap-contact-id" name="contact-id"/>
		    <input type="hidden" id="form-swap-texteur-id" name="texteur-from-id"/>
		    <input type="hidden" id="form-swap-return-to" name="return-to" />
{#			</fieldset>#}
		</form>
    </div>
  </div>
</div>