<input type="checkbox" id="modal-premsg-control" class="modal">
<div id="modal-premsg" class="modal-box">
	<div class="card">
		<label for="modal-premsg-control" class="modal-close"></label>
		<h3 class="section">Messages Pré-enregistrés</h3>
		<div class="section">
			<form id="form-premsg" method="post">
				{% csrf_token %}

				<div class="row responsive-label">
					<div class="col-sm-12 col-md-5">
						<label for="form-premsg-model" class="doc">Choisir le
							modele</label>
					</div>
					<div class="col-sm-12 col-md field">
						<select id="form-premsg-model" name="model"
						        style="width:85%;">
						</select>
					</div>
				</div>

				<fieldset>
					<legend>Aperçu</legend>
					{#		    <div class="row responsive-label">#}
					{#			    <div class="col-sm-12">#}
					{#				    <label>Aperçu</label>#}
					{#			    </div>#}
					{#		    </div>#}
{#					<textarea id="form-premsg-show" disabled></textarea>#}
					{% include "chat/include/sms_textarea.html" with id_sms_textarea="form-premsg-show" readonly_sms_textarea=True %}
				</fieldset>


				<div class="submit-row">
					{#			    <div class="col">#}
					{#			    <input type="submit" value="Valider" class="primary" />#}
					<a class="button" id="form-premsg-ok">Valider</a>
					<a class="button primary" id="form-premsg-send">Envoyer</a>
					{#			    </div>#}
				</div>

				<input type="hidden" id="form-premsg-contact-id"
				       name="contact-id"/>
				<input type="hidden" id="form-premsg-texteur-id"
				       name="texteur-from-id"/>
				<input type="hidden" id="form-premsg-return-to"
				       name="return-to"/>

			</form>

		</div>
	</div>
</div>