<div id="{{ id_sms_textarea }}-counter" class="charcounter">
	<div class="char-counter-background"></div>
</div>
<textarea id="{{ id_sms_textarea }}" class="sms-textarea"
          name="{{ name_sms_textarea }}" {% if readonly_sms_textarea %}readonly
          {% endif %}></textarea>
